# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# Others
*.orig
*.rej
.*.swp
*.log
*.tmp
fusion_result.json
.devcontainer/

# Virtual Environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Models and Data
model.pth
*.pt
*.pth
*.h5
*.ckpt
*.bin
data/
exp/
logs/
tmp/
kernel_meta/
fusion_result.json

# IDE and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Git itself
.git/
!.gitignore  # 确保 .gitignore 本身被跟踪

slm.tar
run.txt
run2.txt
msprobe/dump
msprobe.zip

.__dpc*

# 致远一号集群
termination-log
runningCount
device_log/
failure_analysis_result.json
global_status.json